#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#informain .items {
    flex-direction: column;
}

#information .items .item {
    width: 100%;
}

.projects .project {
    flex-direction: column;
}